<script lang="ts">
  import { capitalize } from "$lib/utils";
  import { Button, Checkbox, FloatingLabelInput } from "flowbite-svelte";
  import { _ } from "svelte-i18n";
</script>

<form method="POST">
  <FloatingLabelInput style="outlined" type="text" name="username" label={capitalize($_("kratos.username"))} />

  <label for="new-account-is-admin" class="my-2 block">
    <Checkbox id="new-account-is-admin" name="isAdmin" class="m-1" />
    {capitalize($_("is-admin"))}
  </label>

  <Button type="submit">{capitalize($_("kratos.submit"))}</Button>
</form>
