<script lang="ts">
  import { Heading, P } from "flowbite-svelte";
  import { dev } from "$app/environment";
  import { page } from "$app/stores";
  import type { KratosError } from "$lib/server/Kratos";
  import Logo from "$lib/parts/Logo.svelte";

  $: error = $page.error as Error | KratosError | null;
</script>

<div class="clear-both">
  <Logo class="float-right m-8 h-16 w-auto" />

  <div class="float-left m-8 grid w-full max-w-4xl grid-cols-1 gap-4">
    <Heading>
      Ошибка
      {#if error && "code" in error}{[error.code, error.status].filter((v) => v).join(" - ")}{/if}
    </Heading>

    {#if error}
      <P size="xl">{error.message}</P>
      {#if "reason" in error}
        <P>{error.reason}</P>
        {#if dev && error.details}
          <pre>{JSON.stringify(error.details, undefined, 4)}</pre>
        {/if}
      {/if}
    {/if}
  </div>
</div>
