<script lang="ts">
  import { _ } from "svelte-i18n";
  import { page } from "$app/stores";
  import "../app.css";
  import { capitalize } from "$lib/utils";

  $: title = [$page.data.title && capitalize($_($page.data.title)), "Hermes"].filter((v) => v).join(" | ");
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<slot />
