<script lang="ts">
  import KratosUI from "$lib/parts/kratos/KratosUI.svelte";

  export let data;
</script>

<div class="flex flex-wrap items-start gap-6">
  <KratosUI ui={data.settings.ui} splitGroups />
</div>
