<script lang="ts">
  import {
    Button,
    Input,
    Label,
    Modal,
    Table,
    TableBody,
    TableBodyCell,
    TableBodyRow,
    TableHead,
    TableHeadCell,
  } from "flowbite-svelte";
  import { _ } from "svelte-i18n";
  import { capitalize } from "$lib/utils.js";
  import { isIdentityAdmin } from "$lib/kratosUtils.js";
  import { navigating } from "$app/stores";

  export let data;
  let recovering = !!data.recoveryLink;

  $: if ($navigating) recovering = !!data.recoveryLink;

  function selectSelf(this: HTMLInputElement) {
    this.select();
  }
</script>

<Button href="/accounts/new">{capitalize($_("create-account"))}</Button>

<Table striped>
  <TableHead>
    <TableHeadCell>{capitalize($_("kratos.username"))}</TableHeadCell>
    <TableHeadCell>{capitalize($_("is-admin"))}</TableHeadCell>
    <TableHeadCell>{capitalize($_("actions"))}</TableHeadCell>
  </TableHead>

  <TableBody>
    {#each data.identites as identity (identity.id)}
      <TableBodyRow>
        <TableBodyCell>{identity.traits.username}</TableBodyCell>
        <TableBodyCell>{capitalize(isIdentityAdmin(identity) ? $_("yes") : $_("no"))}</TableBodyCell>
        <TableBodyCell>
          <Button href={"?recover=" + identity.id} pill size="sm" color="light">{capitalize($_("recover"))}</Button>
        </TableBodyCell>
      </TableBodyRow>
    {/each}
  </TableBody>
</Table>

<Modal title={capitalize($_("recover"))} bind:open={recovering} autoclose outsideclose class="w-full max-w-lg">
  <div class="text-center">
    <Label for="recovery-link" class="block">{capitalize($_("recovery-link"))}</Label>
    <Input id="recovery-link" value={data.recoveryLink?.recovery_link} readonly on:focus={selectSelf} />

    <Button class="mt-4">{capitalize($_("close"))}</Button>
  </div>
</Modal>
