<script lang="ts">
  import type { ComponentType, SvelteComponentTyped } from "svelte";

  type T = $$Generic<{ [X: string]: unknown }>;
  type AsyncProps = $$Generic<{ [X in keyof T]?: Promise<T[X]> } | undefined>;

  type $$Props = {
    this: Promise<{ default: ComponentType<SvelteComponentTyped<T>> }>;
    asyncProps?: AsyncProps;
  } & Omit<T, keyof AsyncProps>;

  export let asyncProps: AsyncProps | undefined = undefined;
  let comp: Promise<{ default: ComponentType<SvelteComponentTyped<T>> }>;
  export { comp as this };

  $: restProps = $$restProps as T;
  $: propsPromise = !asyncProps
    ? []
    : ((props) =>
        Promise.all(Object.values(props)).then((r) =>
          r.reduce((acc, v, i) => {
            acc[Object.keys(props)[i]] = v;
            return acc;
          }, {})
        ) as Promise<T>)(asyncProps);
</script>

{#await Promise.all([comp, propsPromise]) then [c, props]}
  <svelte:component this={c.default} {...restProps} {...props} />
{/await}
