<script lang="ts">
  import { Sidebar, SidebarGroup, SidebarItem, SidebarWrapper } from "flowbite-svelte";
  import { _ } from "svelte-i18n";
  import Fa from "svelte-fa/src/fa.svelte";
  import { faCog, faKey, faSignOut, faUsers } from "@fortawesome/free-solid-svg-icons";
  import Logo from "$parts/Logo.svelte";
  import { capitalize } from "$lib/utils";
  import { page } from "$app/stores";

  $: pathname = $page.url.pathname;
</script>

<div class="relative flex min-h-screen">
  <Sidebar class="sticky top-0 h-screen">
    <SidebarWrapper class="h-full rounded-none">
      <Logo class="mb-16 mt-4 h-16 w-auto" />

      <SidebarGroup>
        <SidebarItem label={capitalize($_("settings"))} href="/settings" active={pathname.startsWith("/settings")}>
          <Fa slot="icon" icon={faCog} />
        </SidebarItem>

        <SidebarItem label={capitalize($_("sessions"))} href="/sessions" active={pathname.startsWith("/sessions")}>
          <Fa slot="icon" icon={faKey} />
        </SidebarItem>
      </SidebarGroup>

      {#if $page.data.isAdmin}
        <SidebarGroup border>
          <SidebarItem label={capitalize($_("accounts"))} href="/accounts" active={pathname.startsWith("/accounts")}>
            <Fa slot="icon" icon={faUsers} />
          </SidebarItem>

          <SidebarItem label={capitalize($_("sessions"))} href="/sessions" active={pathname.startsWith("/sessions")}>
            <Fa slot="icon" icon={faKey} />
          </SidebarItem>
        </SidebarGroup>
      {/if}

      <SidebarGroup border>
        <SidebarItem label={capitalize($_("logout"))} href="/logout">
          <Fa slot="icon" icon={faSignOut} />
        </SidebarItem>
      </SidebarGroup>
    </SidebarWrapper>
  </Sidebar>

  <main class="p-4"><slot /></main>
</div>
