<script lang="ts">
  import type { SVGAttributes } from "svelte/elements";

  type $$Props = SVGAttributes<SVGSVGElement>;
</script>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 280" class="h-auto w-full" {...$$props}>
  <g style="opacity:0.6">
    <path
      d="M793.65 274.03h-5l-25-25h15c20 0 19.722-24.664 0-25h-15v50h-5M813.65 274.03h5v-50l25 25 25-25v50h5"
      style="stroke-linecap:square;stroke-miterlimit:2;stroke-width:10;stroke:currentColor;fill:none"
    />
    <path
      d="M813.65 224.03h5l25 25 25-25h5"
      style="stroke-linecap:square;stroke-miterlimit:2;stroke-width:10;stroke:currentColor;fill:none"
    />
    <path
      d="M933.65 224.03h-35l20 25-20 25h35M738.65 224.03h-35l20 25-20 25h35"
      style="stroke-linecap:square;stroke-width:10;stroke:currentColor;fill:none"
    />
    <path
      d="M983.65 224.03h-5l-25 15 30 20-25 15h-5M633.65 249.03h40m-45 25h5v-50h-5m50 50h-5v-50h5"
      style="stroke-linecap:square;stroke-miterlimit:2;stroke-width:10;stroke:currentColor;fill:none"
    />
    <path
      d="M763.65 224.03h-5"
      style="stroke-linecap:square;stroke-miterlimit:2;stroke-width:10;stroke:currentColor;fill:none"
    />
  </g>
  <path
    d="M89.048 30H0V0h152L62.245 140H144v31H.34zM195 113v58h-35V30h35v53h50V30h35v141h-35V83.439L229.011 113zM323 30v141h-35V30zM366 88v83h-35V30.42l34.915-.423L422 112.059V29.997h36l.255 141h-36.112zM593 30l-14.236 30h-45.81c-19.64.55-29.648 13.757-30.024 40.077.188 26.575 9.021 40.017 26.5 39.923H593v31h-69.209C485.264 166.3 466 142.8 466 100.5s21.144-65.8 63.43-70.5zM742 100c-.654 44.414-33.539 70.587-70.5 71-42.862-.857-70.056-32.986-70.5-70.5 1.112-42.562 33.711-70.053 70.5-70.5 42.937.84 70.065 33.337 70.5 70.5zm-36.795 0c-1.013-22.257-9.774-39.67-31.879-39.967-25.339 1.79-34.622 18.79-34.829 40.467 1.521 22.686 13.497 40.306 34.829 40.607 24.686-2.386 31.704-20.745 31.879-41.107zM785 91h42.249c7.197-2.036 10.888-6.945 11.075-14.988-.187-8.56-4.252-13.703-12.197-15.012H785zm-35 79V30h80.193c28.176 2.976 44.145 20.426 44.443 45.872-.468 23.099-11.123 37.408-31.965 42.926L878 170h-42.62L785 98.317V170zM993 140v30H886v-30zm-8-56.132V114h-99V83.868zM1000 30l-15.48 31H886V30z"
    style="fill:currentColor"
  /></svg
>
