<script lang="ts">
  import { Button, DarkMode, Heading, P } from "flowbite-svelte";
  import { _ } from "$lib/i18n";
  import KratosNodes from "$parts/kratos/KratosUI.svelte";
  import KratosMessage from "$parts/kratos/KratosMessage.svelte";
  import Logo from "$parts/Logo.svelte";
  import { capitalize } from "$lib/utils.js";
  import { PUBLIC_REGISTRATION_DISBLED } from "$env/static/public";

  export let data;
  $: inverseFlow = data.title == "login" ? "registration" : "login";
</script>

<div class="flex min-h-[100vh] w-full flex-col items-center justify-around p-4">
  <header class="w-96 max-w-full">
    <Logo />
  </header>

  <DarkMode class="absolute right-2 top-2" size="lg" />

  <main class="w-96 max-w-full">
    <Heading tag="h2" class="-mt-4 mb-4 text-center">{capitalize($_(data.title))}</Heading>

    {#each data.flow.ui.messages ?? [] as message}
      <KratosMessage {message} />
    {/each}

    <KratosNodes ui={data.flow.ui} />

    <!-- <Hr class="my-4">{$_("or")}</Hr>-->
  </main>

  {#if inverseFlow != "registration" || PUBLIC_REGISTRATION_DISBLED != "true"}
    <P size="sm" align="center">
      {$_(inverseFlow + "-instead")}
      <Button href={"/" + inverseFlow} size="sm" class="m-2" outline color="dark">{capitalize($_(inverseFlow))}</Button>
    </P>
  {:else}
    <div />
  {/if}
</div>
