<script lang="ts">
  import { Button, FloatingLabelInput, Helper } from "flowbite-svelte";
  import { kratosText, type UiNodeInput } from "$lib/kratosUtils";
  import KratosMessage from "./KratosMessage.svelte";
  const getFaEye = () => import("@fortawesome/free-solid-svg-icons/faEye").then((m) => m.faEye);
  const getFaEyeSlash = () => import("@fortawesome/free-solid-svg-icons/faEyeSlash").then((m) => m.faEyeSlash);
  const getFa = () => import("svelte-fa/src/fa.svelte").then((m) => m.default);

  export let node: UiNodeInput;

  let showPassword = false;

  $: attrs = { ...node.attributes, label: undefined, node_type: undefined };
  $: id = "kratosui-" + node.group + "-" + attrs.name;
  $: label = node.meta.label ? $kratosText(node.meta.label) : "";
</script>

{#if attrs.type == "submit"}
  <Button gradient shadow="purple" color="purpleToBlue" class="my-2" {...attrs}>
    {label}
  </Button>
{:else if attrs.type == "hidden"}
  <input class="hidden" {...attrs} />
{:else}
  <FloatingLabelInput
    style="outlined"
    class="bg-red"
    {id}
    {...attrs}
    {label}
    value={attrs.value || undefined}
    type={showPassword ? "text" : attrs.type}
  >
    <svelte:fragment slot="right">
      {#if attrs.type == "password"}
        {#await Promise.all([getFa(), getFaEye(), getFaEyeSlash()]) then [Fa, faEye, faEyeSlash]}
          <Button type="button" class="!p-2" color="alternative" on:click={() => (showPassword = !showPassword)}>
            <Fa fw icon={showPassword ? faEyeSlash : faEye} />
          </Button>
        {/await}
      {/if}
    </svelte:fragment>
  </FloatingLabelInput>
{/if}

{#each node.messages as message}
  <KratosMessage as={Helper} {message} />
{/each}
