<script lang="ts">
  import type { UiText, UiTextTypeEnum } from "@ory/kratos-client";
  import { Alert } from "flowbite-svelte";
  import type { ComponentType } from "svelte";
  import { kratosText } from "$lib/kratosUtils";

  export let message: UiText;
  export let as: ComponentType = Alert;

  const COLORS: Record<UiTextTypeEnum, string> = {
    error: "red",
    info: "default",
    success: "green",
  };
</script>

<svelte:component this={as} color={COLORS[message.type]}>{$kratosText(message)}</svelte:component>
