<script lang="ts">
  import type { UiNode } from "@ory/kratos-client";
  import {
    isUiNodeAnchor,
    isUiNodeImage,
    isUiNodeInput,
    isUiNodeScript,
    isUiNodeText,
    kratosText,
  } from "$lib/kratosUtils";
  import KratosMessage from "./KratosMessage.svelte";
  import KratosInput from "./KratosInput.svelte";

  export let node: UiNode;

  $: label = node.meta.label ? $kratosText(node.meta.label) : "";
  $: referrerpolicy = "referrerpolicy" in node.attributes ? (node.attributes.referrerpolicy as "") : undefined;
</script>

{#if isUiNodeAnchor(node)}
  <a id={node.attributes.id} href={node.attributes.href}>{node.attributes.title}</a>
{:else if isUiNodeImage(node)}
  <figure class="text-center">
    <img alt="" {...node.attributes} class="mx-auto" />
    <figcaption>{label}</figcaption>
  </figure>
{:else if isUiNodeInput(node)}
  <KratosInput {node} />
{:else if isUiNodeText(node)}
  <div>
    <h3>{label}</h3>
    <pre>{$kratosText(node.attributes.text)}</pre>
  </div>
{:else if isUiNodeScript(node)}
  <script {...node.attributes} {referrerpolicy}></script>
{/if}

{#each node.messages as message}
  <KratosMessage {message} />
{/each}
