<script lang="ts">
  import type { UiContainer, UiNode } from "@ory/kratos-client";
  import { Heading } from "flowbite-svelte";
  import { _ } from "svelte-i18n";
  import { capitalize } from "$lib/utils";
  import KratosNode from "./KratosNode.svelte";

  export let ui: UiContainer;
  export let splitGroups = false;

  $: ({ action, method } = ui);
  $: groups = splitGroups
    ? ui.nodes.reduce((acc, node) => {
        (acc[node.group] ??= []).push(node);
        return acc;
      }, {} as Record<string, UiNode[]>)
    : { "": ui.nodes };
</script>

{#each Object.entries(groups) as [groupName, group]}
  {#if groupName != "default"}
    <form {action} {method} class="grid grid-cols-1 gap-6 rounded-xl bg-white p-8 dark:bg-gray-900">
      {#if groupName}
        <Heading tag="h3">{capitalize($_("kratos." + groupName))}</Heading>
      {/if}

      {#each [...(groups.default ?? []), ...group] as node}
        <KratosNode {node} />
      {/each}
    </form>
  {/if}
{/each}
