@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
  }

  input:autofill,
  input:-webkit-autofill {
    background-color: none !important;
    background-image: none !important;
  }
}
